@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
$font-primary: sans-serif; //body
$font-secondary: serif; // to a heading elemen
$title-font: "Oswald", sans-serif;
$cool-font: "Quicksand", sans-serif;
//set base values
$text-base-size: 1em;
